<h2 class="text-3xl pt-8 pb-4 text-center">Instructions</h2>
<p class="px-8 py-2 text-lg">Typefight is a split-screen typing competition. Players are to type in
  as many words/numbers as possible shown on the screen in the limited time.
  Based on the player's performance a score will be calculated. The bigger
  score the better!
</p>
<p class="px-8 py-2 text-lg text-warning">
  If a word/number is spelled with a mistake, attempt to move
  to the next word WILL skip the current word/number and add no points to the score.
</p>
