@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './styles/utilities';


body {
    min-height: 100vh;
    margin: 0;
    background-color: lighten(black, 30%);
    font-family: 'Poppins', Roboto, "Helvetica Neue", sans-serif;
 }

 textarea, input, button {
  font-family: 'Poppins', Roboto, "Helvetica Neue", sans-serif;
 }

 textarea:focus, input:focus {
  outline: none;
 }
