@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

*, *:before, *:after {
  box-sizing: border-box;
}

body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding-bottom: 8.5rem;
    font-family: 'Poppins', Roboto, "Helvetica Neue", sans-serif;
 }

 textarea, input, button {
  font-family: 'Poppins', Roboto, "Helvetica Neue", sans-serif;
 }

 textarea:focus, input:focus {
  outline: none;
 }
