<div
	class="h-full flex flex-col relative items-stretch"
	*ngIf="{
		game: game$ | async,
		screen: screen$ | async
	} as data"
>
	<button
		class="play-button absolute top-1/3 cursor-pointer border-t-2 border-b-2 border-gray-300 bg-primary-600 hover:bg-primary-800 text-gray-300 px-5 py-3"
		[ngClass]="[playButtonPositionClasses, data.screen?.isReady ? 'bg-primary-800' : '', data.game?.isRunning ? 'hidden' : '']"
		(click)="readyUp()"
	>
		PLAY
	</button>
  <app-timer [time]="data.game?.timerSeconds"></app-timer>
  <app-typing-board></app-typing-board>
	<div>
		<span *ngFor="let toType of data.screen?.toType">{{ toType.content }} </span>
	</div>
</div>
